/* 自定义字体 */
@font-face{
    name:'myFont';
    src: url('./glyphicons-halflings-regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
.hello{
    color:red;
    background: url('./三三.png');
    font-family: 'myFont';
}